<ion-view>
    <ion-content class="user-profile-view">
        <div class="list card text-center">
            <div class="item text-center">
                <div class="row row-center">
                <div class="col">
                    <div class="profilePic user" style="background-image:url('https://placehold.it/350x150')"></div>
                </div>
                <div class="col">
                    <p>{{PatientProfileCtrl.response.name.first}}  {{PatientProfileCtrl.response.name.last}} </p>
                    <p>{{PatientProfileCtrl.response.email}}</p>

                </div>
            </div>
            </div>
            <a class="item" href="#/tab/newExercise">
                <span>New Recording</span>
            </a>

            <a class="item" href="#/tab/sessionList/{{PatientProfileCtrl.response._id}}">

                <span>Session History</span>
            </a>

            <a class="item" href="#/tab/noteList/{{PatientProfileCtrl.response._id}}">
                <span>Patient Notes</span>
            </a>
            
            <a ng-if="PatientProfileCtrl.sessionMade" class="item" href="#/tab/noteNew/{{PatientProfileCtrl.response._id}}/new">
                <span>Add Note to Today's Session</span>
            </a>
        </div>
    </ion-content>
</ion-view>