<ion-view>
    <ion-content class="user-profile-view">
    <backbutton>
    </backbutton>
    <!--<div class="top-right" ng-click="UserProfile.default = !UserProfile.default">
        <i class="icon ion-gear-a"></i>
    </div>-->
    <h1>Edit Your Profile</h1>
    <br>
    <div class="list login-form container" ng-if="UserProfile.default">
        <div class="row nopad">
            <div class="col">
                <img ng-hide="UserProfile.user.newImage" class="profilePic" ng-src="{{UserProfile.user.image}}" alt="">
                <img ng-show="UserProfile.user.newImage" class="profilePic" ngf-src="UserProfile.user.newImage">
            </div>
            <div ngf-select ng-model="UserProfile.user.newImage" accept="image/*" class="camera-doe"><i ngf-select ng-model="UserProfile.user.newImage" accept="image/*" class="icon ion-camera"></i> Edit</div>
        </div>
        <div class="row nopad">
            <div class="col">
            <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model="UserProfile.user.first">
            </label>
            </div>
        </div>
        <br>
        <div class="row nopad">
            <div class="col">
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="UserProfile.user.last">
            </label>
            </div>
        </div>
        <br>
        <div class="row nopad">
            <div class="col">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="UserProfile.user.email">
            </label>
            </div>
        </div>
        <br>
        <!--<div class="row nopad">
            <div class="col">
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="UserProfile.user.password">
            </label>
            </div>
        </div>-->
        <br>
        <div class="row">
            <div class="col">
                <button class="button clear" ng-click="UserProfile.changeUser()">
                Save Changes
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <button class="button blue" ng-click="UserProfile.logout()">
                Logout
                </button>
            </div>
        </div>
    </div>
    

    <div class="list login-form container" ng-if="!UserProfile.default">
        <div class="row nopad">
            <div class="col">
            <button class="button clear ">
                Logout
                </button>
            </div>
        </div>
        <br>
        <div class="row nopad">
            <div class="col">
            <button class="button clear ">
                Logout
                </button>
            </div>
        </div>
        <br>
        <div class="row nopad">
            <div class="col">
            <button class="button clear ">
                Logout
                </button>
            </div>
        </div>
        <br>
        <div class="row nopad">
            <div class="col">
            <button class="button clear" ng-click="UserProfile.logout()">
                Logout
                </button>
            </div>
        </div>
        <br>
        <div class="row" ng-click="UserProfile.default = !UserProfile.default">
            <div class="col">
                <button class="button clear">
                Cancel
                </button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
       
    </ion-content>
</ion-view>