.user-profile-view {
    .list {
        margin-top: -20px;

        .row {
            .col {
                span {
                    font-size: 2em;
                }
            }
        }
    }

    .camera-doe {
        position: absolute;
        right: 5em;
        top: 10em;
        margin: 2em;
    }
    h1 {
        font-size: 1.5em;
        margin: 0;
    }
    
    .profilePic {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
    .top-right {
        float: right;
        margin: 10px;
        .ion-gear-a:before {
            font-size: 2em;
        }
    }

    
}
