.referral-view {
  img.logo {
    margin-top: 15vh;
    max-width: 200px;
    width: 100%;
    margin-bottom: 20px;
  }
  .login-form {
    font-family: 'Gotham' !important;
    margin-bottom: 0;
  }
 h3 {
    margin-top: 20%;
    text-align: center;
  }

}

.loading {
  border-radius: 10px;
  height: 20%;
  width: 50%;
  padding: 10px 5px !important;
  
  span {
    font-family: Avenir;
    font-size: 12px;
    letter-spacing: 10px;
  }
}

.spinner svg {
  stroke: white;
}