<ion-view view-title="E L E G Y">
  <ion-content class="referral-view">
    <img class="logo" src="img/logo.png" alt="">


    <div class="list login-form container">
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="C O D E" ng-model="Referral.newGuest.code">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="E M A I L" ng-model="Referral.newGuest.email">
          </label>
        </div>
      </div>
      <br>
      <div class="row nopad">
        <div class="col">
          <button ng-click="Referral.validateCode()" class="button blue ">
              Register
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <button ui-sref="app.login" class="button clear ">
              Cancel
          </button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <a> {{"Terms & Service" | uppercase}} </a>
      </div>
    </div>
    

  </ion-content>
</ion-view>