.transaction-view {
  * {
    font-family: Avenir;
  }

  h1 {
    font-size: 2em;
  }

  .listing-container {
    // border-bottom: 1px solid rgba(140, 140, 140, 0.6);
    border-top: 1px solid rgba(140, 140, 140, 0.6);
  }

  .col-25 {
    // overflow: hidden;
    padding: 5px;
    height: 91.25px !important;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
  }

  .listing-title {
    font-weight: bolder;
    letter-spacing: 1px;
  }

  .listing-box {
    * {
      padding: 0 0;
      padding-bottom: 0.1em;
      text-align: left;
    }
  }

  .transaction-container {
    h1 {
      padding-top: 1em;
    }

    .transaction-shipping {
      background-color: white !important;
      border-top: 1px solid rgb(200, 200, 200);

      .transaction-shipping-title {
        font-size: 1.3em;
        letter-spacing: 0.2em;
        font-weight: bold;
      }

      .shipping-titles {
        text-align: left;
        margin-left: 1.5em;
      }
    }

    .transaction-subtotal {
      background-color: white !important;
      border-top: 1px solid rgb(200, 200, 200);

      .transaction-subtotal-title {
        font-size: 1.3em;
        letter-spacing: 0.2em;
        font-weight: bold;
      }

      .subtotal-titles {
        text-align: left;
        margin-left: 1.5em;
      }

      .transaction-subtotals {
        text-align: right;
      }

      .transaction-total {
        padding-top: 1em;
        border-top: 1px solid rgb(200, 200, 200);
        font-weight: bold;
      }
      .checkout-button {
        padding-top: 2em;
      }

      .button {
        background-color: rgb(23, 119, 158);
        color: white;
        width: 15em !important;
      }
    }
  }
}