<ion-view view-title="T R A N S A C T I O N">
  <ion-content class="transaction-view">
    <div class="transaction-container card list">
    <h1>TRANSACTION</h1>
      <div class="row">
          <div class="col">
            <marketplace data="Transaction.item" class="listing-container"></marketplace>
          </div>
      </div>
      <div class="transaction-shipping">
        <div class="row">
          <div class="col transaction-shipping-title">
            {{'Shipping Information' | uppercase}}
          </div>
        </div>
        <div class="row">
          <div class="col shipping-titles shipping-start-title">
            {{'Ships From' | uppercase}}
          </div>
        </div>
        <div class="row">
          <div class="col shipping-start-address">
            {{Transaction.vendor.address}}
          </div>
        </div>
        <div class="row">
          <div class="col shipping-titles shipping-destination-title">
            {{'Ships To' | uppercase}}
          </div>
        </div>
        <div class="row">
          <div class="col shipping-destination-address">
            <select>
              <option>Blue</option>
              <option selected>Green</option>
              <option>Red</option>
            </select>
          </div>
        </div>
      </div>
      <div class="transaction-subtotal">
        <div class="row">
          <div class="col transaction-subtotal-title">
            {{'Totals' | uppercase}}
          </div>
        </div>
        <div class="row">
          <div class="col-33 subtotal-titles transaction-item-subtotal">
            {{'Item Total' | uppercase}}
          </div>
          <div class="col transaction-subtotals">
            {{Transaction.itemPrice}}
          </div>
        </div>
        <div class="row">
          <div class="col-33 subtotal-titles transaction-item-subtotal">
            {{'Shipping' | uppercase}}
          </div>
          <div class="col transaction-subtotals">
            {{Transaction.serviceFee.toFixed(2)}}
          </div>
        </div>
        <div class="row transaction-total">
          <div class="col-33 subtotal-titles transaction-item-subtotal">
            {{'Total' | uppercase}}
          </div>
          <div class="col transaction-subtotals">
            {{Transaction.transaction.total}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form ng-submit="Transaction.checkOut()">
              <div id="payment-form" class="payment-form">
              </div>
              <div class="row nopad checkout-button">
                <div class="col">
                  <button type="submit" class="button">CHECK OUT</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>