<ion-view view-title="{{Listing.venue}}">
  <ion-content class="listing-view">
    <div class="row nopad back-button-area">
      <backbutton></backbutton>
    </div>
    <listing data="Listing.listing"></listing>
    <div {{Listing.category}}-directive></div>
    <div class="container">
      <div class="row nopad">
        <div class="col">
          <button ng-click="Listing.bookmarkItem()" class=" button assertive">
            BOOKMARK THIS ITEM
          </button>
        </div>
      </div>
      <!--<div class="row nopad">
        <div class="col">
          <button ng-click="Listing.purchaseItem()" class=" button assertive">
            PURCHASE THIS ITEM
          </button>
        </div>
      </div>-->

    </div>
    </div>
  </ion-content>
</ion-view>