<ion-view view-title="Program">
  <ion-content class="program-view">
        <br>
        <div class="padding">
          <div class="small-row" ng-if="Program.program.officiant">
            <h1 class="blue">Officiant</h1>
            <hr>
            <div class="row">
              <div class="col-33">
                <p class="bold">Name: </p>
              </div>
              <div class="col-66">
                <p>{{Program.program.officiant}}</p>
              </div>
            </div>
          </div>

          <div class="small-row" ng-if="Program.program.members.length > 0">
            <h1 class="blue">Survived By</h1>
            <hr>
            <div class="row">
              <div class="col-33">
                <p class="bold">Name: </p>
              </div>
              <div class="col-66">
                <p ng-if="Program.program.members" ng-repeat="person in Program.program.members" class="capitalize">
                  {{person}}
                </p>
              </div>
            </div>
          </div>

          <div class="small-row" ng-if="Program.program.eulogizer">
            <h1 class="blue">Eulogizer</h1>
            <hr>
            <div class="row">
              <div class="col-33">
                <p class="bold">Names: </p>
              </div>
              <div class="col-66">
                <p>{{Program.program.eulogizer}}</p>
              </div>
            </div>
          </div>
          
          <div class="small-row" ng-if="Program.program.pallbearers.length > 0">
            <h1 class="blue">Pallbearers</h1>
            <hr>
            <div class="row">
              <div class="col-33">
                <p class="bold">Names: </p>
              </div>
              <div class="col-66">
                <p ng-if="Program.program.pallbearers" ng-repeat="person in Program.program.pallbearers" class="capitalize">
                  {{person}}
                </p>
              </div>
            </div>
          </div>

          <div class="small-row" ng-if="Program.program.readings.length > 0">
            <h1 class="blue">Readings</h1>
            <hr>
            <div class="row">
              <div class="col-33">
                <p class="bold">Readings: </p>
              </div>
              <div class="col-66">
                <p ng-if="Program.program.readings" ng-repeat="person in Program.program.readings" class="capitalize">
                  {{person}}
                </p>
              </div>
            </div>
          </div>

          <div class="small-row" ng-if="Program.program.songs.length > 0">
            <h1 class="blue">Songs</h1>
            <hr>
            <div class="row">
              <div class="col-33">
                <p class="bold">Songs: </p>
              </div>
              <div class="col-66">
                <p ng-if="Program.program.songs" ng-repeat="person in Program.program.songs" class="capitalize">
                  {{person}}
                </p>
              </div>
            </div>
          </div>
        </div>
          <br>
          <button ng-show="admin" ng-click="Program.travelToStep('keepsake')" class="button blue">Edit Program</button>
      </div>
  </ion-content>
</ion-view>