.event-view {
  animation-name: left-content;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  h4 {
    letter-spacing: 5px;
  }

  .user-avatar {
    text-align: center;

    img {
      margin-top: 1em;
      border-radius: 50%;
      max-width: 20%;
      margin-bottom: 2em;
      max-height: 100px;
    }
  }
  .step-container {
      animation-name: left-content;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

      .col-10 {
        padding-top: 0.5em;
        font-size: 2em;
        font-style: bold;
        font-family: Avenir;
      }
     
      h2 {
        width: 100%; 
        text-align: center; 
      } 

    span { 
        background:#fff; 
        padding:0 10px; 
        font-size: 2em;
    }
  }

  .part-nav {
    .col-30 {
      width: 100%;
    }
  }
  .part-container {
    text-align: center;
    
    .part-content, .part-checker {
      animation-name: opacity;
      animation-duration: 2s;
      animation-timing-function: ease;
    }
    
    .part-content {
      // border: 1px solid rgba(71, 71, 71, 0.7);

      * {
        padding: 0 0;
      }
      h4 {
        font-family: Avenir;
        animation-name: left-content;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      }
      
      p {
        font-family: Century Schoolbook;
        font-style: italic;
        font-size: 1.2em;
        animation-name: right-content;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      }
    }

    .part-checker {
      text-align: center;
      padding-top: 0.7em;
      font-size: 2.3em;
      .ion-ios-close-outline {
        color: red;
      }

      .ion-ios-checkmark-outline {
        color: green;
      }

      .ion-ios-minus-outline {
        color: goldenrod;
      }

    }

    .divider {
      border-bottom: 1px solid rgba(75, 75, 75, 0.7);
      animation-name: opacity;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .info-container {
    padding-top: 1em !important;
  }

  .row-100 {
    height: 100%;
  }
  .row-30 {
    height: 32%;
  }
  .row-10 {
    height: 12%;
    text-align: center;
    display: block;
    padding-top: 2em;
    background-color: white;
    font-family: Avenir;
    font-size: 2em;
    letter-spacing: 0.2em;
  }
  .row-10:hover {
    background-color: red;
  }

  .event-data-instantiator {
    * {
      font-family: Avenir;
      text-align: middle;
    }
  }

  .in-progress {

  }
}


