.event-view {
  animation-name: left-content;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  h2 {
    text-align: left;
  }
  p {
    text-align: left;
  }
  h4 {
    letter-spacing: 5px;
  }

  .user-avatar {
    text-align: center;
    margin-top: 1em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-size: cover;
    width: 58px;
    height: 58px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

  .item p {
    overflow:visible;
    white-space: normal;
  }
  .step-container {
      animation-name: left-content;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

      .col-10 {
        padding-top: 0.5em;
        font-size: 2em;
        font-style: bold;
        font-family: Avenir;
      }
     
      h2 {
        width: 100%; 
        text-align: center; 
      } 

    span { 
        background:#fff; 
        padding:0 10px; 
        font-size: 2em;
    }
  }

  .part-nav {
    .col-30 {
      width: 100%;
    }
  }
  .part-container {
    text-align: center;
    
    .part-content, .part-checker {
      animation-name: opacity;
      animation-duration: 2s;
      animation-timing-function: ease;
    }
    
    .part-content {
      // border: 1px solid rgba(71, 71, 71, 0.7);

      * {
        padding: 0 0;
      }
      h4 {
        font-family: Avenir;
        animation-name: left-content;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      }
      
      p {
        font-family: Century Schoolbook;
        font-style: italic;
        font-size: 1.2em;
        animation-name: right-content;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      }
    }

    .part-checker {
      text-align: center;
      padding-top: 0.7em;
      font-size: 2.3em;
      .ion-ios-close-outline {
        color: red;
      }

      .ion-ios-checkmark-outline {
        color: green;
      }

      .ion-ios-minus-outline {
        color: goldenrod;
      }

    }

    .divider {
      border-bottom: 1px solid rgba(75, 75, 75, 0.7);
      animation-name: opacity;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .info-container {
    padding-top: 1em !important;
  }

  .event-data-instantiator {
    * {
      font-family: Avenir;
      text-align: middle;
    }

    h3 {
      font-size: 2em !important;
    }
  }

  .in-progress {

  }

  input[type="date"]:before, input[type="text"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before,
  input[type="text"]:focus:before,
  input[type="text"]:valid:before  {
    content: "";
  }

  .index {

    .ion-ios-close-outline:before, .ion-ios-minus-outline:before, .ion-ios-checkmark-outline:before {
      font-size: 2.5em;
      float: left;
      margin-right: 10px;
    }
    .ion-ios-close-outline:before, .ion-ios-minus-outline:before, .ion-ios-checkmark-outline:before {
      font-size: 2.5em;
      float: left;
      margin-right: 10px;
    }
    
    h2 {
      font-family: 'Gotham-Medium';
      font-weight: 700;
      color: rgb(23, 119, 158);
      margin-top: 2px;
      font-size: 1.8em;
      display: inline !important;
    }
    .ion-ios-information-outline:before, .ion-ios-arrow-down:before {
      font-size: 1.5em;
      float: right;
      color: rgb(23, 119, 158); 
      margin-top: 10px;
    }

    .ion-ios-information-outline:before, .ion-ios-arrow-up:before {
      font-size: 1.5em;
      float: right;
      color: rgb(23, 119, 158); 
      margin-top: 10px;
    }
  }

  .col-center {
    padding-top: 2em;
    border-bottom: 2px solid grey;
    margin: 0 auto;

    span {
      font-size: 2em;
      color: grey;
      width: 10em;
    }
  }

  .center-align {
    margin: 0 auto;
  }

  .event-listing-container {
    // border-bottom: 1px solid rgba(140, 140, 140, 0.6);
    // border-top: 1px solid rgba(140, 140, 140, 0.6);
    border-style: none;
   
    .col-25 {
      // overflow: hidden;
      padding: 5px;
      height: 91.25px !important;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 0.5em;
    }

    .listing-title {
      font-weight: bolder;
      letter-spacing: 1px;
    }

    .listing-box {
      * {
        padding: 0 0;
        padding-bottom: 0.1em;
        text-align: left;
      }
    }
  }

  .date-container {
    button {
      background-color: rgb(23, 119, 158); 
    }
  }
}



