<ion-view view-title="E V E N T">
  <ion-content class="event-view">
    <div class="user-avatar">
      <img src="../../img/ben.png" alt="">
    </div>
    <div an-swipe="true" class="ng-repeat-chamber">
      <!--1-->
      <div class=" step-container container">
        <div class="row">
          <div class="center-col col">
            <span >{{Event.eventStep.title}}</span>
            <i ng-click="Event.openModal( Event.val )" class="icon ion-ios-information-outline"></i>
          </div>
        </div>
        <div ng-show="Event.eventStep.title === 'Interment' ? Event.eventModel['details'][Event.eventStep.title.toLowerCase()] != null : true" class="row">
          <div class="col">
            <p>{{Event.eventModel['details'][Event.eventStep.title.toLowerCase()]['__t']}} Service</p>
          </div>
        </div>
      </div>
      <!--2-->
      <div ng-hide="Event.eventStep.title === 'Interment' ? Event.eventModel['details'][Event.eventStep.title.toLowerCase()] != null : true" class="container event-data-instantiator">
        <h4>CHOOSE AN OPTION</h4>
        <div class="row" ng-repeat="option in Event.EventStaticInfo[Event.stepIndex].types">
            <div class="col">
              <h5 ng-click="Event.setupModelOptions(option.type)">{{option.type | uppercase}}</h5>
            </div>
        </div>
      </div>
      <div ng-show="Event.eventStep.title === 'Interment' ? Event.eventModel['details'][Event.eventStep.title.toLowerCase()] != null : true" ng-repeat="part in Event.eventItems" class="part-container">
        <div class="row">
          <!--2.1-->
          {{Event.eventModel['details'][Event.eventStep.title.toLowerCase()][part.tracker]['status']}}
          <div class="col col-10"></div>
          <div class="part-checker col col-20">
            <i ng-show="Event.eventModel['details'][Event.eventStep.title.toLowerCase()][part.tracker]['status'] === '0'" class="icon ion-ios-close-outline"></i>
            <i ng-show="Event.eventModel['details'][Event.eventStep.title.toLowerCase()][part.tracker]['status'] === '1'" class="icon ion-ios-minus-outline"></i>
            <i ng-show="Event.eventModel['details'][Event.eventStep.title.toLowerCase()][part.tracker]['status'] === '2'" class="icon ion-ios-checkmark-outline"></i>
          </div>

          <!--2.2-->
          <div class="part-content col">
            <!--2.2.1-->
            <div class="part-nav col container">
              <div class="row">
                <div class="col col-70">
                  <h4 ng-click=" part.category ? Event.displayMarketplace(part.category) : null">{{part.title | uppercase}}   
                  </h4>
                </div>
                <div class="col col-30 info-container">
                  <i ng-click="Event.openModal( part )" class="icon ion-ios-information-outline"></i>
                </div>
              </div>

            </div>
           
            <!--2.2.2-->
            <div class="part-description-container col">
              <!--<p>{{part.description}}</p>-->
            </div>
          </div>
        
        </div>
        <div class="row">
          <div class="col col-10"></div>
          <div class="col col-80 divider"></div>
          <div class="col col-10"></div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>