<ion-view view-title="{{Event.eventStep.title}}">
  <ion-content class="event-view">
    <div class="row nopad">
    </div>
    <ion-item>
        <div class="row nopad">
          <div class="col text-left" style="margin-top: 4px;">
              <h2>Immediate Decisions</h2>
              <p>We’re so sorry for your loss. Let us guide you through the initial steps you must take.</p>
          </div>
        </div>
        <div ng-click="Event.reviewingOptions()" ng-show="Event.eventStep.eventKey === 'interment'" class="row">
          <div class="col-center">
            <span>{{Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()]['__t'] ? Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()]['__t'] : 'Types of Interment' }}</span>
          </div>
        </div>
        <div ng-show="Event.eventStep.eventKey === 'interment'" class="row">
          <div class="center-align">
            <p>Edit Interment Option</p>
          </div>
        </div>
    </ion-item>
    <div an-swipe="true" class="ng-repeat-chamber">
      <!--1-->
      <!--<div class=" step-container container">
        <div class="row">
          <div class="center-col col">
            <span >{{Event.eventStep.eventKey}}</span>
            <i ng-click="Event.openModal( Event.val )" class="icon ion-ios-information-outline"></i>
          </div>
        </div>
        <div ng-show="Event.eventStep.eventKey === 'Interment' ? Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()] != null : true" class="row">
          <div class="col">
            <p>{{Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()]['__t']}} Service</p>
          </div>
        </div>
      </div>-->
      <!--2-->
      <div ng-hide="Event.eventStep.eventKey === 'interment' ? Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()] != undefined && Event.reviewItems === false : true" class="container event-data-instantiator">
        <h4>CHOOSE AN OPTION</h4>
        <!--<div class="row" ng-repeat="option in Event.EventStaticInfo[Event.stepIndex].types">-->
            <!--<div class="col" ng-click="Event.setupModelOptions(option.type)" >
              <h3>{{option.type | uppercase}}</h3>
            </div>
        </div>-->
        <ion-checkbox ng-model="option.checked" ng-repeat="option in Event.EventStaticInfo[Event.stepIndex].types" class="item-checkbox-right" ng-click="Event.showSteps(option.type)">
          <h3>{{option.type | uppercase}}</h3>
          <div ng-if="Event.showStepsBool === option.type" ng-repeat="step in option.parts">
            <p>{{step.title}}</p>
          </div>
        </ion-checkbox>
        <br>
        <button class="button blue" ng-click="Event.setupModelOptions(Event.showStepsBool, option)">Edit This Item</button>
      </div>

      <ion-item ng-show="Event.eventStep.eventKey === 'interment' ? Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()] != null && Event.reviewItems === false : true" ng-repeat="part in Event.eventItems" class="index">
        <div class="row">
          <!--2.1-->
          <div class="col text-left" ng-click=" part.category ? Event.displayMarketplace(part) : Event.processAction(part.eventKey || part.title, $index, Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()][part.tracker]['item'], part.tracker)">
            <i ng-show="!Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()][part.tracker]['status']" class="icon ion-ios-close-outline"></i>
            <i ng-show="Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()][part.tracker]['status'] === '0'" class="icon ion-ios-close-outline"></i>
            <i ng-show="Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()][part.tracker]['status'] === '1'" class="icon ion-ios-minus-outline"></i>
            <i ng-show="Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()][part.tracker]['status'] === '2'" class="icon ion-ios-checkmark-outline"></i>
            
            <h2 >{{part.title | uppercase}} </h2>
          </div>
          <!--{{Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()][part.tracker]['status']}}-->
          <div class="col-10" ng-click="part.date ? Event.showDate( $index,  Event.eventModel['details'][Event.eventStep.eventKey.toLowerCase()][part.tracker]['item']) :  Event.showItem( $index,  Event.eventModel['details'][Event.eventStep.eventKey][part.tracker]['item'] )">
            <i class="icon ion-ios-arrow-down"></i>
          </div>
          <div class="col-10" ng-click="Event.openModal( part )">
            <i  class="icon ion-ios-information-outline"></i>
          </div>
        </div>

        <div class=" event-listing-container" ng-show="Event.itemBlock === $index && Event.Item != null || undefined" ng-click="Event.Item.method(Event.Item, Event.Item.vendor)">    
          <!--<marketplace data="Event.item"></marketplace>-->
          <div class="row listing-row">
            <div class="col-33">
              <img ng-src="{{Event.Item.image}}" alt="">
            </div>
            <div class="col listing-box">
              <div class="container listing-description">
                <div class="row">
                  <div class="col listing-title">
                    <span>{{Event.Item.name | uppercase}}</span>
                  </div>
                </div>
                <div ng-show="Event.Item.brand != null" class="row">
                  <div class="col listing-price">
                    <span>{{Event.Item.brand}}</span>
                  </div>
                </div>
                <div ng-show="Event.Item.address != null" class="row">
                  <div class="col listing-price">
                    <span>{{Event.Item.address}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col listing-Vendor">
                    <span>{{Event.Item.vendor.businessName | uppercase}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>    

        <div class="date-picker" ng-show="Event.itemBlock === $index && part.date">
          <div class="row date-container">
            <div class="col-66">
              <div class="date-box">
                <input type="date" ng-model="Event.Date">
              </div>
            </div>
            <div class="col">
                <button ng-click="Event.stageDate(Event.Date, $index)" class="button button-balanced" style="width: 100%;" >Confirm</button>
            </div>
          </div>
        </div>



      </ion-item>
         <div ng-show="Event.eventStep.eventKey === 'inviteguests'" class="list guest-stuff">
            <!--hi-->
            <!--<button ng-click="getContactList()">touch</button>-->
            <!--<ion-item class="search-input">
              <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="text" placeholder="Search">
              </label>
            </ion-item>  -->
            <ion-item ng-repeat="guest in Event.invitees">
              <div class="row">
                <div class="col">
                  <p><strong>{{guest.first}} {{guest.last}}</strong></p>
                  <p>{{guest.email}}</p>
                </div>
                <div class="col-15">
                  <span ng-if="guest.status == 0">Invited</span>
                  <span ng-if="guest.status == 1">Accepted</span>
                </div>
              </div>
            </ion-item>
          </div>
    </div>
  </ion-content>
</ion-view>