<ion-view view-title="Plan">
    hello
  <ion-content class="event-view">
    <ion-item>
        <div class="row nopad">
            <div class="col text-left" style="margin-top: 4px;">
                <h1 class="departed-name">{{Event.departed.first}} {{Event.departed.last}}</h1>
                <h2>Immediate Decisions</h2>
                <p>We’re so sorry for your loss. Let us guide you through the initial steps you must take.</p>
            </div>
        </div>
    </ion-item>

    <ion-item class="text-center index" ng-repeat="part in Event.EventStaticInfo">
        <div class="row">
            <div class="col text-left" ng-click="Event.moveTo(part, $index)">
                <i ng-show="!Event.eventModel['details'][Event.eventStep.title.toLowerCase()][part.tracker]['status']" class="icon ion-ios-circle-outline"></i>
                <i ng-show="Event.eventModel['details'][Event.eventStep.title.toLowerCase()][part.tracker]['status'] === '0'" class="icon ion-ios-circle-outline"></i>
                <i ng-show="Event.eventModel['details'][Event.eventStep.title.toLowerCase()][part.tracker]['status'] === '1'" class="icon ion-ios-minus-outline"></i>
                <i ng-show="Event.eventModel['details'][Event.eventStep.title.toLowerCase()][part.tracker]['status'] === '2'" class="icon ion-ios-checkmark-outline"></i>
                <h2>{{part.title | uppercase}}</h2>

            </div>
            <div class="col-10" ng-click="Event.openModal( part )" >
                <i class="icon ion-ios-information-outline"></i>
            </div>
        </div>
    </ion-item>
    <br>
    <br>
    <br>

  </ion-content>
</ion-view>