<div class="list card">
<div class="row">
  <div class="col item listing-header">
    <div class="col-60 listing-names">
      <span ng-show="data.__t != 'Venue'" class="listing-name">{{data.vendor.first | uppercase}}  </span>
      <span ng-show="data.__t != 'Venue'"class="listing-brand">by {{data.brand | uppercase}}</span>
      <h2 ng-show="data.__t != 'Venue'"class="listing-vendor">{{data.vendor.businessName | uppercase}}</h2 class="listing-vendor">
      <span ng-show="data.__t === 'Venue'" class="listing-name">{{data.vendor.businessName | uppercase}}  </span>
      <h2 ng-show="data.__t === 'Venue'" class="listing-vendor">at {{data.address | uppercase}}  </h2>
      <!--{{data.address}} {{data.vendor.address}}-->
    </div>
    <div ng-show="data.price" class="col listing-price">
      $ {{data.price | uppercase}}
    </div>

  </div>
</div>
<div class="row">
  <div class="col item listing-image">
    <img ng-src="{{data.image}}">
  </div>
</div>
<div class="row">
  <div class="col item listing-description">
    <p>{{data.description}}</p>
  </div>
</div>
<!--
  <p ng-click="Listing.selectVenue()" class="item assertive">
    CALL TO BOOK
  </p>

</div>

<div class="card address-container">
  <span>{{data.address | uppercase}}</span>
</div>

<h2 CLASS="review-header">REVIEWS</h2>
<div ng-repeat="review in data.reviews" class="card container review-container">
  <div class="row">
    <div class="col">
      <h5>{{review.review}}</h5>
    </div>
  </div>
  <div class="row">
      <div class="col review-author-container">
      {{review.rating}} <i class="icon ion-ios-infinite"></i> | {{review.user}}
    </div>
  </div>
</div>-->