<ion-view view-title="H O M E">
  <ion-content class="home-view">
    <h4>{{Home.assets.email}}</h4>
    <h2>Memories</h2>
    <div class="list">
      <div class="item item-divider">
        Upcoming Events
      </div>
      <a class="item item-avatar" href="#">
        <img src="../../img/adam.jpg" alt="">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
    </div>
    <br>
    <div class="list">
      <div class="item item-divider">
        Past Events
      </div>
      <a class="item item-avatar" href="#">
        <img src="../../img/ben.png" alt="">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
    </div>
  </ion-content>
</ion-view>