.home-view {
  animation-name: left-content;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  .item-divider {
    background-color: rgb(241, 241, 242);
    color: rgb(119, 124, 134)
  }

  h2.name {
    margin-top: 18px;
    text-align: left;
    margin-left: 2em;
    color: rgb(119, 124, 134);
    font-family: 'Gotham-Medium'
  }

  .user-avatar {
    text-align: right;
    border:none;
    background-color: transparent;
    
    .item-avatar {
      min-height: 55px;
      background-color: transparent;
    }

    img {
      border-radius: 50%;
      margin-top: -8px;
      left: unset;
      right: 0;
      background-color: transparent;
    }
  }

  .list {
    margin-bottom: 0 !important;
  }

  .row.item {
    border-right:none;
  }

  .ion-chevron-right:before {
    margin-top: 14px;
    font-size: 2em;
    color: rgb(15, 65, 106)
  }
}