<ion-view view-title="Events" hide-tabs="true">
  <ion-content class="home-view">
    <br>
    <br>
    <br>
    <div class="list">
      <button ng-click="Home.createDeparted()" class="button blue">Plan an Event</button>
      <br>
        <h2 class="or">- or -</h2>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input-short item-input-inset">
            <input ng-focus="Referral.focused = true" type="text" placeholder="Enter Funeral Code" ng-model="Referral.code" ng-change="Referral.validateCode()">
            <button ng-click="Home.validateCode(Referral.code)" ng-if="Referral.focused == true" class="button button-small nobutton">
              <i class="icon ion-arrow-right-c"></i>
            </button>
          </label>
        </div>
      </div>
      <br>
      <div class="item item-divider">
        Upcoming Events
      </div>
      <div ng-repeat="departed in Home.assets" class="row item" ng-click="Home.travel(departed)">
        <div class="col-50 text-left">
          <h2 class="name capitalize">{{departed.first }} {{departed.last }} <span> &nbsp;  ({{departed.admin ? "Admin" : "Guest"}})</span></h2>
        </div>
        <div class="col">

        </div>
        <div class="col text-right item user-avatar">
          <div class="item-avatar" ng-style="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + departed.image + ')'}">
          </div>
        </div>
        <div class="col-10 pull-right swipe">
          <i class="icon ion-chevron-right"></i>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">
        Past Events
      </div>
    </div>
    <br>
    <br>
    <br>
  </ion-content>
</ion-view>
