<ion-view view-title="M E M O R I E S" hide-tabs="true">
  <ion-content class="home-view">
    <div class="user-avatar">
      <img src="../../img/ben.png" alt="">
    </div>
    <h4>{{Home.user.email}}</h4>
    <div class="list">
      <div class="item item-divider">
        UPCOMING EVENTS
      </div>
      <a ng-repeat="event in Home.assets" class="item item-avatar" ng-click="Home.travel(event)">
        <img src="../../img/adam.jpg" alt="">
        <div class="col col-60">
          <h2>{{event.first.split("").join(" ") | uppercase}} &nbsp; {{event.last.split("").join(" ") | uppercase}}</h2>
          <p>{{event.admin ? "Admin" : "Guest" | uppercase}}</p>
        </div>
        <div class="col pull-right swipe">
          <i class="icon ion-ios-arrow-thin-right"></i>
        </div>
      </a>
    </div>
    <div class="list">
      <div class="item item-divider">
        PAST EVENTS
      </div>
      <a class="item item-avatar" href="#">
        <img src="../../img/ben.png" alt="">
        <div class="col col-60">
          <h2>{{("Venkman").split("").join(" ") | uppercase}}</h2>
        <p>{{"Back off, man. I'm a scientist."}}</p>
        </div>
        <div class="col pull-right swipe">
          <i class="icon ion-ios-arrow-thin-right"></i>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
