.home-view {
  .item-divider {
    background-color: rgba(23, 119, 158, 0.4);
    color: rgba(40, 40, 40, 0.8);
  }

  .item-avatar {
    padding-bottom: 0;

    * {
      text-align: left;
    }

    h2, p {
      font-family: avenir;
    }
    
    .col {
      display: inline-block;
    }
    .swipe {
      vertical-align: top;
      text-align: right;
      width: 30%;
    }
  }

  .user-avatar {
    text-align: center;

    img {
      margin-top: 1em;
      border-radius: 50%;
      max-width: 35%;
    }
  }

  .list {
    margin-bottom: 0 !important;
  }
}