<!--<link rel="stylesheet" href="../views/main/login/login.css">-->

<ion-view view-title="L O G I N" hide-tabs="true">
  <ion-content>
    <div class="list login-form">
      <label class="item item-input">
        <input type="text" placeholder="U S E R N A M E" value="{{Login.credentials.user}}">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="P A S S W O R D" value="{{Login.credentials.password}}">
      </label>
      <br>
      <button ui-sref="Login.authenticate()" class="button button-stable">
        L O G I N
     </button>
      <br>
      <br>
      <button ui-sref="Login.authenticate()" class="button button-stable">
        S I G N U P
     </button>
    </div>

  </ion-content>
</ion-view>