.login-view {
  
  .login-form {
    font-family: Gotham !important;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 20%;
    font-size: 50px;
    text-align: center;
  }

  .checkbox-icon {
    margin-left: 30%;
  }

  a {
    font-family: Avenir;
    color: black;
  }

  .item-checkbox {
    border-style: none;
  }
}