<!--<link rel="stylesheet" href="../views/main/login/login.css">-->

<ion-view view-title="L O G I N">
  <ion-content class="login-view">
    <h3>elegy</h3>
    <div class="list login-form container">
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="E M A I L" ng-model="Login.credentials.email">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="password" placeholder="P A S S W O R D" ng-model="Login.credentials.password">
          </label>
        </div>
      </div>
      <ion-checkbox ng-model="Login.vendor">Vendor</ion-checkbox>
      <br>
      <div class="row">
        <div class="col">
          <button ng-click="Login.authenticate()" class="button button-light ">
              L O G I N
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button ui-sref="app.user-signup" class="button button-light ">
              S I G N U P
          </button>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col">
          <a> {{"Terms & Service" | uppercase}} </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a>{{"Forgot Password?" | uppercase}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="#/app/referral">{{"Login Through Guest Code" | uppercase}}</a>
        </div>
      </div>
    </div>
    <!--<img class="saturate" src="/img/logo.svg" alt="">-->

  </ion-content>
</ion-view>