<!--<link rel="stylesheet" href="../views/main/login/login.css">-->

<ion-view view-title="L O G I N" hide-tabs="true">
  <ion-content>
    <div class="list login-form">
      <label class="item item-input">
        <input type="text" value="{{Login.credentials.user}}">
      </label>
      <label class="item item-input">
        <input type="password" value="{{Login.credentials.password}}">
      </label>
      <button ui-sref="Login.authenticate()" class="button button-dark">
        Start Now
     </button>
    </div>

  </ion-content>
</ion-view>