<ion-view view-title="{{Marketplace.params}}">
  <ion-content class="marketplace-view">
    <div class="row nopad">
      <backbutton></backbutton>
    </div>
    <h1>THE MARKETPLACE</h1>
    <div class="container">
      <marketplace data="Marketplace.listings" class="listing-container"></marketplace>
      <!--<div>
        <div class="row listing-row">
          <div class="col-25">
            <img ng-src="{{listing.image}}" alt="">
          </div>
          <div class="col listing-box">
            <div class="container listing-description">
              <div class="row">
                <div class="col col-100 listing-title">
                  <span>{{listing.venueName | uppercase}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col listing-quantity">
                  <span>{{listing.rating}} <i class="icon ion-ios-infinite"></i>  | {{listing.reviews.length}} reviews</span>
                </div>
              </div>
              <div class="row">
                <div class="col listing-price">
                  <span>{{listing.address}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </ion-content>
</ion-view>