<ion-view view-title="Schedule">
  <ion-content class="schedule-view">
    <!--<div class="switch">
      <div class="row nopad">
          <div ng-class="{passive: Schedule.passive === 'program'}" class="col col-50 blue-border" ng-click="Schedule.passive = 'schedule'">
              <span>Schedule</span>
          </div>
          <div ng-class="{passive: Schedule.passive === 'schedule'}" class="col blue-border" ng-click=" Schedule.passive = 'program'">
              <span>Program</span>
          </div>
        </div>
      </div>-->

      <div class="container schedule">
        <br>
        <div class="padding">
          <div class="small-row" ng-repeat="(key, value) in Schedule.schedule">
            <h1 class="blue">{{key}}</h1>
            <hr>
            <div class="row" ng-if="value.location">
              <div class="col-33">
                <p class="bold">Location</p>
              </div>
              <div class="col-66">
                <p>{{value.location}}</p>
              </div>
            </div>
            <div class="row" ng-if="value.date">
              <div class="col-33">
                <p class="bold">Date</p>
              </div>
              <div class="col-66">
                <p>{{value.date | date : 'fullDate'}}</p>
              </div>
            </div>
            <button ng-show="admin" class="button blue" ng-click="Schedule.travelToStep(value.matchKey)">Edit This Item</button>
          </div>
        </div>
      </div>

      <di
      <br>
      <br>

  </ion-content>
</ion-view>