<ion-view view-title="Schedule">
  <ion-content class="schedule-view">
    <div class="switch">
      <div class="row nopad">
          <div ng-class="{passive: Schedule.passive === 'program'}" class="col col-50 blue-border" ng-click="Schedule.passive = 'schedule'">
              <span>Schedule</span>
          </div>
          <div ng-class="{passive: Schedule.passive === 'schedule'}" class="col blue-border" ng-click=" Schedule.passive = 'program'">
              <span>Program</span>
          </div>
        </div>
      </div>
      <div ng-if="Schedule.passive === 'schedule'" class="container schedule">
        <div class="padding">
          <ion-item ng-repeat="(key, value) in Schedule.schedule">
            <h2>{{key}}</h2>
            <div class="text-left">
              <p ng-if="value.date">Date: {{value.date | date : 'short'}}</p>
              <p ng-if="value.location">Location: {{value.location}}</p>
            </div>
          </ion-item>

      </div>

      <div ng-if="Schedule.passive === 'program'" class="container program">
        

      </div>

  </ion-content>
</ion-view>