<ion-view view-title="Tabs">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive""  >

      <!-- Tab-less Collection -->
      <!--<ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/home">
        <ion-nav-view name="home"></ion-nav-view>
      </ion-tab>-->

      <!-- Event Tab -->
      <ion-tab hidden="{{!admin}}" icon-off="checklist" icon-on="checklist-on" href="#/app/events">
        
        <ion-nav-view name="event"></ion-nav-view>
      </ion-tab>

      <!-- Feed Tab -->
      <ion-tab icon-off="memories" icon-on="memories-on" href="#/app/feed">
        <ion-nav-view name="feed"></ion-nav-view>
      </ion-tab>

      <!-- Event Info Tab -->
      <ion-tab icon-off="schedule" icon-on="schedule-on" ui-sref="app.departed-tab.schedule">
        <ion-nav-view name="schedule"></ion-nav-view>
      </ion-tab>

      <!-- Messages Tab -->
      <ion-tab icon-off="guests" icon-on="guests-on" href="#/app/guest-list">
        <ion-nav-view name="guests"></ion-nav-view>
      </ion-tab>

      <!-- Messages Tab -->
      <ion-tab hidden="{{admin}}" icon-off="donate" icon-on="donate-on" href="#/app/donate">
        <ion-nav-view name="donate"></ion-nav-view>
      </ion-tab>

      <!-- Messages Tab -->
      <ion-tab hidden='true' icon-off="checklist" icon-on="checklist-on" href="#/app/user-profile">
        <ion-nav-view name="profile"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
 </ion-view>