<ion-view view-title="Tabs">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive""  >

      <!-- Tab-less Collection -->
      <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/home">
        <ion-nav-view name="home"></ion-nav-view>
      </ion-tab>

      <!-- Event Tab -->
      <ion-tab title="Checklist" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/app/events">
        <ion-nav-view name="event"></ion-nav-view>
      </ion-tab>

      <!-- Feed Tab -->
      <ion-tab title="Feed" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/app/feed">
        <ion-nav-view name="feed"></ion-nav-view>
      </ion-tab>

      <!-- Event Info Tab -->
      <ion-tab title="Schedule" icon-off="ion-ios-time-outline" icon-on="ion-ios-time" href="#/app/schedule">
        <ion-nav-view name="schedule"></ion-nav-view>
      </ion-tab>

      <!-- Messages Tab -->
      <ion-tab title="Donate" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/app/donate">
        <ion-nav-view name="donate"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
 </ion-view>