<ion-view view-title="U S E R S I G N U P">
  <ion-content class="user-signup-view">
    <img class="logo" src="img/logo.png" alt="">


    <div class="list login-form container">
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="First Name" ng-model="UserSignup.newUser.first">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="Last Name" ng-model="UserSignup.newUser.last">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="Email" ng-model="UserSignup.newUser.email">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="UserSignup.newUser.password">
          </label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <ion-checkbox class="noborder" ng-model="UserSignup.vendor">Vendor</ion-checkbox>
        </div>
      </div>
      
      <div class="row nopad">
        <div class="col">
          <button ng-click="UserSignup.submitUserForm()" class="button blue ">
              Register
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <button ui-sref="app.login" class="button clear ">
              Cancel
          </button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <a> {{"Terms & Service" | uppercase}} </a>
      </div>
    </div>
  </ion-content>
</ion-view>