.user-signup-view {
  img.logo {
    margin-top: 15vh;
    max-width: 200px;
    width: 100%;
    margin-bottom: 20px;
  }
  .login-form {
    font-family: 'Gotham' !important;
    margin-bottom: 0;
  }
 h3 {
    margin-top: 20%;
    text-align: center;
  }

  .checkbox-icon {
    margin-left: 40%;
  }
}