<ion-view>
    <ion-nav-bar ng-if="logged" class="bar-stable">
      <div class="home-nav">
        <a ui-sref="app.home">
          <div class="home-button">
              <img src="img/elegyHomeButton.png" alt="">
          </div>
        </a>
      </div>
      <div class="user-nav">
        <a href="#/app/user-profile">
          <div class="user-avatar" ng-style="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + user.image + ')'}"></div>
        </a>
      </div>
      
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
</ion-view>