<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <div class="cancelIcon">
            <i class="icon ion-close-round" ng-click="closeModal()"></i>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <p>
          "Sub-Merchant Terms of Service (TOS). To allow sub-merchants to do this, the following text should be included in your website's Terms of Service for Marketplace sub-merchants:
        </p>
        <p>
        ""Elegy uses Braintree, a division of PayPal, Inc. (Braintree) for payment processing services. By using the Braintree payment processing services you agree to the Braintree Payment Services Agreement available at https://www.braintreepayments.com/legal/gateway-agreement, and the applicable bank agreement available at https://www.braintreepayments.com/legal/cea-wells.""
        </p>
        <p>
          This way, sub-merchants can agree to both your terms and ours simultaneously. If you have questions about the requirements, please contact accounts@braintreepayments.com."
        </p>
    </ion-content>
</ion-modal-view>