<ion-view view-title="F E E D">
  <ion-content class="feed-view">
    <div class="holding">
      <div class="banner" ng-style="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + Feed.departed.photo + ')'}">
        <header>
          <h1>
            Some Persons Name
            <i ng-if="Feed.expandEul == false" ng-click="Feed.expandEul = true" style="padding: 10px;" class="icon ion-chevron-down"></i>
            <i ng-if="Feed.expandEul == true" ng-click="Feed.expandEul = false" style="padding: 10px;" class="icon ion-chevron-up"></i>
          </h1>
        </header>
      </div>
      <div ng-if="Feed.expandEul == true" class="eulogy-container">
        <p class="text-left">
          {{Feed.departed.eulogy}}
        </p>
      </div>

    </div>
    <div class="container">
        <textarea placeholder="Care to share something?" ng-focus="Feed.expanded = true" ng-blur="Feed.expanded = false" ng-model="Feed.share">
        </textarea>
        <div class="row top-border" ng-if="Feed.expanded" ng-focus="Feed.expanded = true" ng-blur="Feed.expanded = false">
          <div class="col">
            <i class="icon ion-camera" ngf-select ng-model="Feed.media" name="file" class="comfy-padding"
              accept="image/*" ngf-max-size="5MB" required
              ngf-model-invalid="errorFiles">
              <span class="addPhoto">Add a photo or video</span>
              </i>
              <i ng-show="myForm.file.$error.maxSize">File too large
              {{errorFiles[0].size / 1000000|number:1}}MB: max 5M</i>
          </div>
          <div class="col-25">
            <button type="submit" class="button light-blue post" ng-click="Feed.submitMemory()"> POST</button>
          </div>
        </div>
      </div>
      <hr>

      <div class="row nopad">
          <div ng-class="{passive: Feed.passive === 'media'}" class="col col-50 blue-border" ng-click="Feed.passive = 'feed'">
              <span>ALL</span>
          </div>
          <div ng-class="{passive: Feed.passive === 'feed'}" class="col blue-border" ng-click=" Feed.passive = 'media'">
              <span>MEDIA</span>
          </div>
        </div>
      
      <div ng-if="Feed.passive == 'feed'">
        <ion-item ng-repeat="item in Feed.items" class="feed">
          <div class="row">
            <p>{{item.text}}</p>
          </div>
          <hr>
          <div class="row">
            <div class="col-20">
                <div class="feed-avatar" ng-style="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + item.image + ')'}"></div>
            </div>
            <div class="col-70">
              <h3>{{item.name}}</h3>
              <h4>{{item.createdAt | date : 'short'}}</h4>
            </div>
            <div class="col text-right">
              <i class="icon ion-ios-heart-outline" ng-click="Feed.likeThis(item._id)"></i>
              <span style="font-size: 1.3em;">{{item.likes.length}}</span>
            </div>

          </div>
        </ion-item>
      </div>
      <div ng-if="Feed.passive == 'media'">
        <ion-item ng-repeat="item in Feed.items" class="feed">
          
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>