.feed-view {
    // .banner {
    //     width: auto;
    //     height: 50vh;
    // }

    // .holding {
    //     height: 100vh;
    // }

    .banner {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;
    }

    .banner header {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 10px;
        background-color: rgba( 15, 64, 105, 0.9);
    }
    
    .banner header h1 {
        font-family: 'Bodoni-Regular';
        margin: 0 22px;
        color: white;
        position: relative;
        z-index: 1;
        text-align: left;
        font-size: 2em;
    }

    textarea {
        width: 100%;
        height: 75px;
        text-align: left;
        border-top-width: 2px;
        border-color: #ddd;
        border-style: solid;
        padding: 10px;

    }

    .top-border {
        border-top-width: 2px;
        border-color: #ddd;
        border-style: solid;
        padding: 0px;
    }
    
    .feed {
        .row {
            margin-top: 0px;
        }
        h3 {
            color: rgb(15, 65, 106);
            text-align: left;
        }
        h4 {
            padding-top: 0px;
            color: rgb(15, 65, 106);
            text-align: left;
        }
        p {
            text-align: left;
            white-space: normal;
            color: rgb(51, 51, 51);
        }
        padding: 5px 10px;
        color: rgb(15, 65, 106)
    }

    .feed-avatar {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center;
        background-size: cover;
        width: 30px;
        height: 30px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 3px;
    }

    .blue-border {
        padding:4px 0;
        border-style: solid;
        border-bottom-width:5px;
        border-color: rgb(23, 119, 158);
    }
    .passive {
        color: rgba(160, 160, 160, 0.8);
        border-style: none !important;
    }
    hr {
        border-top: 1px solid #ddd;
    }
    .item {
        border-bottom-width: 5px;
    }

    textarea {
        resize: none;
    }

    .eulogy-container {
        margin: 1em;
    }

    button.light-blue.post {
        min-height: 15px;
        line-height: unset;
        width: 6em;
        font-family: 'Gotham-Medium';
        margin-top: 10px;
    }
    .ion-camera:before {
        font-size: 2em;
        float: left;
        margin: 10px;
    }
    .addPhoto {
        float: left;
        margin-top: 13px;
    }
    .ion-ios-heart-outline:before {
        font-size: 2em;
    }
}
