<ion-view view-title="Contacts">
    <ion-content class="guest-list-view">
      <br>

          
      </div>

      <div class="list">
                <br>
                <br>
                <!--<button ng-click="getContactList()">touch</button>-->
                <ion-item class="search-input">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search">
                    </label>
                </ion-item>  
                <ion-item ng-repeat="guest in GuestList.invitees">
                    <p><strong>{{guest.first}} {{guest.last}}</strong></p>
                    <p>{{guest.email}}</p>
                </ion-item>
            </div>


    </ion-content>
</ion-view>