<ion-view view-title="">
  <ion-content class="forms-view">
    <backbutton></backbutton>
    <div ng-switch="Forms.formType">

      <div ng-switch-when="paypal">
          paypal
      </div>

      <div ng-switch-when="Venue">
          <div class=" container">
            <div class="members-container">
                <h3 class="form-item">{{'Name of Venue' }}</h3>
                <!--<div class="row">
                  <div class="members-row"> 
                    <span>{{Forms.venue.name}}</span>
                  </div>
                </div>-->
                <div class="row">
                  <div class="col">
                    <label class="item item-input">
                        <input type="text" placeholder="Name" ng-model="Forms.venue.name">
                    </label>
                  </div>
                </div>
              </div>
              <br>
            <div class="members-container">
                <h3 class="form-item">{{'Address' }}</h3>
                <!--<div class="row">
                  <div class="members-row"> 
                    <span>{{Forms.venue.address}}</span>
                  </div>
                </div>-->
                <div class="row">
                  <div class="col">
                    <label class="item item-input">
                        <input type="text" placeholder="Street" ng-model="Forms.venue.address">
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row nopad">
              <div class="col">
                <button ng-click="Forms.createCustomVenue()" class="button blue ">
                    Submit
                </button>
              </div>
            </div>
          </div>

      </div>

      <div ng-switch-when="eulogy" class="container">
          <br>
          <div class="row nopad">
            <div class="col nopad">
            <h1 class="form-title">{{'Eulogy' }}</h1>
            <br>
            <label class="nopad item item-input textarea-stuff">
                <textarea ng-model="Forms.eulogy" 
                          ng-attr-rows="{{row || '10'}}" 
                          ng-focus="row=10" 
                          ng-blur="row=10"
                          name="fdsafdsa" 
                          id="fdsafsda" 
                          cols="30" 
                          rows="10"
                          placeholder="Take some time to reflect and write a memento on behalf of your loved one"></textarea>
            </label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <button ng-click="Forms.submitEulogy(Forms.eulogy)" class="button blue">Save</button>  
            </div>  
          </div>    
      </div>

      <div ng-switch-when="program" class="container">
        <br>
          <div class="program-container">

            <div class="members-container">
              <h3 class="form-item">{{'Surviving Family Members' }}</h3>
              <div class="row" ng-repeat="member in Forms.program.members">
                <div class="members-row"> 
                  <span>{{member}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                      <input type="text" placeholder="Full Name" ng-model="Forms.newMember">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="button blue" ng-click="Forms.processAction('members', Forms.newMember)">Add to List</button>
                </div>
              </div>
            </div>
            <br>

            <div class="members-container container">
              <h3 class="form-item">{{'Pallbearers' }}</h3>
              <div class="row members-row" ng-repeat="bearer in Forms.program.pallbearers">
                  <span>{{bearer}}</span>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                    <input type="text" placeholder="Full Name" ng-model="Forms.newBearer">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                <button class="button blue" ng-click="Forms.processAction('pallbearers', Forms.newBearer)">Add to List</button>
                </div>
              </div>
            </div>
            <br>

            <div class="members-container container">
              <h3 class="form-item">{{'Officiant' }}</h3>
                <div class="row members-row">
                  <span ng-show="Forms.program.officiant ? !Forms.editingOfficiant : false">{{Forms.program.officiant}}</span>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                    <input  ng-hide="Forms.program.officiant ? !Forms.editingOfficiant : false" type="text" placeholder="{{Forms.program.officiant}}" ng-model="Forms.newOfficiant">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="button blue" ng-click="Forms.processAction('officiant', Forms.newOfficiant)">{{Forms.editingOfficiant ? 'Confirm Officiant' : 'Edit Officiant'}}</button>
                </div>
              </div>
            </div>
            <br>
            
            <div class="members-container container">
              <h3 class="form-item">{{'Eulogist' }}</h3>
                <div class="row members-row">
                  <span ng-show="Forms.program.eulogizer ? !Forms.editingEulogizer : false">{{Forms.program.eulogizer}}</span>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                    <input  ng-hide="Forms.program.eulogizer ? !Forms.editingEulogizer : false" type="text" placeholder="{{Forms.program.officiant}}" ng-model="Forms.newEulogizer">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="button blue" ng-click="Forms.processAction('eulogizer', Forms.newEulogizer)">{{Forms.editingEulogizer ? 'Confirm Eulogizer' : 'Edit Eulogizer'}}</button>
                </div>
              </div>
            </div>
            <br>

            <div class="members-container container">
              <h3 class="form-item">{{'Songs' }}</h3>
              <div class="members-row" ng-repeat="song in Forms.program.songs">
                  <span>{{song}}</span>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                    <input type="text" placeholder="Song" ng-model="Forms.newSong">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                <button class="button blue" ng-click="Forms.processAction('songs', Forms.newSong)">Add to Songs</button>
                </div>
              </div>
            </div>
            <br>

            <div class="members-container container">
              <h3 class="form-item">{{'Readings' }}</h3>
              <div class="row members-row" ng-repeat="song in Forms.program.readings">
                <span>{{song}}</span>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                    <input type="text" placeholder="Reading" ng-model="Forms.newReading">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                <button class="button blue" ng-click="Forms.processAction('readings', Forms.newReading)">Add to Readings</button>
                </div>
              </div>
            </div>
            <br>

            <div class="row nopad">
              <div class="col">
                <button ng-click="Forms.updateProgram()" class="button blue ">
                    Save
                </button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>