<ion-view view-title="F O R M S">
  <ion-content class="forms-view">
    <back-button></back-button>
    <div ng-switch="Forms.formType">

      <div ng-switch-when="paypal">
          paypal
      </div>

      <div ng-switch-when="eulogy">
          <br>
          <div class="row nopad">
            <div class="col nopad">
            <h1 class="form-title">{{'Eulogy' | uppercase}}</h1>
            <br>
            <label class="nopad item item-input textarea-stuff">
                <textarea ng-model="Forms.eulogy" 
                          ng-attr-rows="{{row || '10'}}" 
                          ng-focus="row=10" 
                          ng-blur="row=10"
                          name="fdsafdsa" 
                          id="fdsafsda" 
                          cols="30" 
                          rows="10"
                          placeholder="Take some time to reflect and write a memento on behalf of your loved one"></textarea>
            </label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <button ng-click="Forms.submitEulogy(Forms.eulogy)" class="add-member">Save</button>  
            </div>  
          </div>    
      </div>

      <div ng-switch-when="program">
        <br>
          <div class=" container program-container">

            <div class="members-container container">
              <h3 class="form-item">{{'Surviving Family Members' | uppercase}}</h3>
              <div class="row container" ng-repeat="member in Forms.program.members">
                <div class="row members-row"> 
                  <span>{{member}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                      <input type="text" placeholder="Members" ng-model="Forms.newMember">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="add-member" ng-click="Forms.processAction('members', Forms.newMember)">Add to List</button>
                </div>
              </div>
            </div>
            <br>

            <div class="members-container container">
              <h3 class="form-item">{{'Pallbearers' | uppercase}}</h3>
              <div class="row container" ng-repeat="bearer in Forms.program.pallbearers">
                <div class="row members-row">
                  <span>{{bearer}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                    <input type="text" placeholder="Pall Bearers" ng-model="Forms.newBearer">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                <button class="add-member" ng-click="Forms.processAction('pallbearers', Forms.newBearer)">Add to List</button>
                </div>
              </div>
            </div>
            <br>

            <div class="members-container container">
              <h3 class="form-item">{{'Officiant' | uppercase}}</h3>
              <div class="row container">
                <div class="row members-row">
                  <span ng-show="Forms.program.officiant ? !Forms.editingOfficiant : false">{{Forms.program.officiant}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                    <input  ng-hide="Forms.program.officiant ? !Forms.editingOfficiant : false" type="text" placeholder="{{Forms.program.officiant}}" ng-model="Forms.newOfficiant">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="add-member" ng-click="Forms.processAction('officiant', Forms.newOfficiant)">{{Forms.editingOfficiant ? 'Confirm Officiant' : 'Edit Officiant'}}</button>
                </div>
              </div>
            </div>
            <br>
            
            <div class="members-container container">
              <h3 class="form-item">{{'Eulogizer' | uppercase}}</h3>
              <div class="row container">
                <div class="row members-row">
                  <span ng-show="Forms.program.eulogizer ? !Forms.editingEulogizer : false">{{Forms.program.eulogizer}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                    <input  ng-hide="Forms.program.eulogizer ? !Forms.editingEulogizer : false" type="text" placeholder="{{Forms.program.officiant}}" ng-model="Forms.newEulogizer">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="add-member" ng-click="Forms.processAction('eulogizer', Forms.newEulogizer)">{{Forms.editingEulogizer ? 'Confirm Eulogizer' : 'Edit Eulogizer'}}</button>
                </div>
              </div>
            </div>
            <br>

            <div class="members-container container">
              <h3 class="form-item">{{'Songs' | uppercase}}</h3>
              <div class="row container" ng-repeat="song in Forms.program.songs">
                <div class="row members-row">
                  <span>{{song}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                    <input type="text" placeholder="Song" ng-model="Forms.newSong">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                <button class="add-member" ng-click="Forms.processAction('songs', Forms.newSong)">Add to Songs</button>
                </div>
              </div>
            </div>
            <br>

            <div class="members-container container">
              <h3 class="form-item">{{'Readings' | uppercase}}</h3>
              <div class="row container" ng-repeat="song in Forms.program.readings">
                <div class="row members-row">
                  <span>{{song}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input">
                    <input type="text" placeholder="Reading" ng-model="Forms.newReading">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                <button class="add-member" ng-click="Forms.processAction('readings', Forms.newReading)">Add to Readings</button>
                </div>
              </div>
            </div>
            <br>

            <div class="row nopad">
              <div class="col">
                <button ng-click="Forms.updateProgram()" class="button blue ">
                    Submit
                </button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>