.forms-view {
  .program-container {
    .form-item {
      font-size: 1.5em !important;
    }

    .add-member {
      border: 1px solid black;
      background-color: white;
      border-radius: 1em;
      max-width: 28%;
      margin-right: 2em;
    }
  }
}