/* Empty. Add your own CSS if you like */

body * {
  font-family: Didot;
  text-align: center;
  
  input, button {
    font-family: Avenir;
  }
  .tab-title {
    font-family: Avenir !important;
  }
}

button {
  /*font-family: verdana;*/
  width: 11em;
  height: 2em;
  border-color: black !important;
  border: 1px solid black;
}

.popup-container {
  background-color: rgba(70, 70, 70, 0.5);
  .popup {

  }

  * {
    // border-radius: 0.8em !important;
    font-family: Avenir;
  }
}

  @keyframes opacity {
    0%   {opacity: 0}
    100% {opacity: 1}
  }

  @keyframes opacity-out {
    0%   {opacity: 1}
    100% {opacity: 0}
  }

  @keyframes left-out {
    from {right: 0; position: relative}
    to{right: 15%; position: relative}
  }

  @keyframes right-in {
    from {right: 15%; position: relative}
    to{right: 0; position: relative}
  }

  @keyframes left-content {
    from {left: 50px; position: relative}
    to{left: 0; position: relative}
  }

  @keyframes right-content {
    from {right: 50px; position: relative}
    to{right: 0; position: relative}
  }

.cancelIcon {
    position: absolute;
    right: 10px;
    top: 8px;
}

.ion-close-round:before {
    font-size: 2em;
}


.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

.popup-container {
    .popup {
      border-radius: 1em;
      // background-color: white;
    }

    * {
      border-radius: 0.5em;
            // background-color: white;
    }
  }