/* Empty. Add your own CSS if you like */

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Light.eot');
	src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Light.woff') format('woff'),
		url('../fonts/Gotham-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Book';
	src: url('../fonts/GothamBook.eot');
	src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamBook.woff') format('woff'),
		url('../fonts/GothamBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Medium';
	src: url('../fonts/GothamMedium.eot');
	src: url('../fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamMedium.woff') format('woff'),
		url('../fonts/GothamMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Light-Italic';
	src: url('../fonts/GothamLight-Italic.eot');
	src: url('../fonts/GothamLight-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamLight-Italic.woff') format('woff'),
		url('../fonts/GothamLight-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Bodoni-Regular';
	src: url('../fonts/BodoniFLF-Roman.eot');
	src: url('../fonts/BodoniFLF-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BodoniFLF-Roman.woff') format('woff'),
		url('../fonts/BodoniFLF-Roman.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Bodoni-BoldItalic';
	src: url('../fonts/BodoniFLF-BoldItalic.eot');
	src: url('../fonts/BodoniFLF-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BodoniFLF-BoldItalic.woff') format('woff'),
		url('../fonts/BodoniFLF-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Bodoni-Italic';
	src: url('../fonts/BodoniFLF-Italic.eot');
	src: url('../fonts/BodoniFLF-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BodoniFLF-Italic.woff') format('woff'),
		url('../fonts/BodoniFLF-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Bodoni-Bold';
	src: url('../fonts/BodoniFLF-Bold.eot');
	src: url('../fonts/BodoniFLF-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BodoniFLF-Bold.woff') format('woff'),
		url('../fonts/BodoniFLF-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}



body * {
  font-family: 'Gotham-Book';
  text-align: center;
  font-size:12px;
  
  input {
    font-family: 'Gotham-Book';
  }
  .tab-title {
    font-family: 'Bodoni-Regular' !important;
  }
}

.bar.bar-stable .title {
    font-family: 'Bodoni-Regular' !important;
}

.nopad {
  padding: 0;
}

.noborder {
  border: 0;
}

.capitalize {
   text-transform: capitalize;
}

.item.item-input {
  border-top: none;
  border-left: none;
  border-right: none;
}

.item.item-input-short {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding: 0;
  input[type="text"] {
    width: 100%;
  }
}

button {
  font-family: 'Gotham-Medium';
  width: 11em;
  height: 2em;
}

button:hover {
  color: black;
}

button.blue {
  color: white;
  width: 16em;
  height: 2em;
  border-radius: 5px;
  background-color: rgb(15,65,106);
}

button.light-blue {
  color: white;
  width: 16em;
  height: 2em;
  border-radius: 5px;
  background-color: rgb(23, 119,158);
}

button.clear {
  color: rgb(119, 124, 134);
  background-color: transparent;
  font-family: 'Gotham-Book';
}

button.white {
  color: rgb(23, 119, 158);
  width: 16em;
  height: 2em;
  border-radius: 5px;
  border-color: rgb(23, 119, 158);
  background-color: white;
}
.popup-container {
  background-color: rgba(70, 70, 70, 0.5);
  .popup {

  }

  * {
    // border-radius: 0.8em !important;
    font-family: 'Gotham-Book';
  }
}

  // @keyframes opacity {
  //   0%   {opacity: 0}
  //   100% {opacity: 1}
  // }

  // @keyframes opacity-out {
  //   0%   {opacity: 1}
  //   100% {opacity: 0}
  // }

  // @keyframes left-out {
  //   from {right: 0; position: relative}
  //   to{right: 15%; position: relative}
  // }

  // @keyframes right-in {
  //   from {right: 15%; position: relative}
  //   to{right: 0; position: relative}
  // }

  // @keyframes left-content {
  //   from {left: 50px; position: relative}
  //   to{left: 0; position: relative}
  // }

  // @keyframes right-content {
  //   from {right: 50px; position: relative}
  //   to{right: 0; position: relative}
  // }

.cancelIcon {
    position: absolute;
    right: 10px;
    top: 8px;
}

.ion-close-round:before {
    font-size: 2em;
}


// .slide-in-right {
//   -webkit-transform: translateX(100%);
//     transform: translateX(100%); }

// .slide-in-right.ng-enter, .slide-in-right > .ng-enter {
//   -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
//   transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

// .slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
//   -webkit-transform: translateX(0);
//     transform: translateX(0); }

// .slide-in-right.ng-leave, .slide-in-right > .ng-leave {
//   -webkit-transition: all ease-in-out 250ms;
//   transition: all ease-in-out 250ms; }

.popup-container {
    .popup {
      border-radius: 1em;
      // background-color: white;
    }

    * {
      border-radius: 0.5em;
            // background-color: white;
    }
  }

h2.or {
  font-weight: 700;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.has-tabs, .bar-footer.has-tabs {
  top: 40px;
}


.button-clear.button-clear.back-directive {
  background-color: rgba(0,0,0,0.05);
  color: black;
  width: 100%;
  float: left;
  // margin-bottom: 15px;
  .icon {
    vertical-align: bottom;
  }
}

.tabs .tab-item .icon.checklist {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-checklist.png');
  background-size:contain;
}

.tabs .tab-item .icon.checklist-on {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-checklist-on.png');
  background-size:contain;
}

.tabs .tab-item .icon.memories {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-memories.png');
  background-size:contain;
}

.tabs .tab-item .icon.memories-on {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-memories-on.png');
  background-size:contain;
}

.tabs .tab-item .icon.schedule {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-schedule.png');
  background-size:contain;
}

.tabs .tab-item .icon.schedule-on {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-schedule-on.png');
  background-size:contain;
}

.tabs .tab-item .icon.guests {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-guests.png');
  background-size:contain;
}

.tabs .tab-item .icon.guests-on {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-guests-on.png');
  background-size:contain;
}

.tabs .tab-item .icon.donate {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-donate.png');
  background-size:contain;
}

.tabs .tab-item .icon.donate-on {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-donate-on.png');
  background-size:contain;
}

.tabs .tab-item .icon.program {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-program.png');
  background-size:contain;
}

.tabs .tab-item .icon.program-on {
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/tab-program-on.png');
  background-size:contain;
}

.home-nav {
  position: absolute;
  z-index: 999;
  left: 10px;
  top: 26px;
  
  .home-button {
    img {
      border-radius: 50%;
      width: 33px;
      height: 33px;
    }
  }
}

.user-nav {
  position: absolute;
  z-index: 999;
  right: 10px;
  top: 26px;
  
  .user-avatar {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-size: cover;
    width: 33px;
    height: 33px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
}

.tab-nav.tabs {
  margin-bottom: 12px;
}

i.italics {
  font-family: 'Gotham-Light-Italic';
}

.button.clear.active, .button.clear.activated {
  background-color: transparent;
  color: black;
  border: none;
}  

.button.active, .button.activated {
  background-color: rgb(7,38,63);
  border: none;
  color: white;
}  

.popup-container {
  .popup {
    .popup-head {
      * {
        color: #17779e;
        font-size: 1.6em;
        font-weight: bold;

      }
    }

    .popup-body {
      height: 20em;
      
      * {
        font-size: 1.1em;
      }

      .homeCtrlError {
        * {
          font-size: 1em !important;

        }
      }
    }
  }
}

.back-button-area {
  background-color: lightgrey;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.cloudModalImg {
    width: 100%;
    height: 100%;
}

.scroll-content {
  margin-bottom: 40px;
}

.modal-container {
  margin: 10%;
  p {
    font-size: 1.5em;
    line-height: 1.4em;
    white-space: pre-line;
  }
}