<ion-view view-title="D E P A R T E D S I G N U P">
  <ion-content class="departed-signup-view">
    <div class="list signup-form container">
      <div class="image-container container">
        <div class="row">
          <div class="col img-full-width">
            <div style="padding-bottom: 5vh;">
              <div class="small-container">
                <h3>Find your favorite picture of your loved one and add it here. This will be the first thing everyone sees.</h3>
              </div>
              <i ng-show="!DepartedSignup.cloud.image" ngf-select ng-model="DepartedSignup.cloud.image" accept="image/*" class="icon ion-camera"></i>
            </div>
            <img ngf-src="DepartedSignup.cloud.image" alt="">
          </div>
        </div>
      </div>
      <div class="list login-form container">
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="First Name" ng-model="DepartedSignup.newDeparted.first">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="Last Name" ng-model="DepartedSignup.newDeparted.last">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <!--<input type="date" placeholder="First Name" ng-model="DepartedSignup.newDeparted.dob">-->
            <input required="" type="date" class="form-control" placeholder="Date of Birth" onfocus="(this.type='date')" ng-model="DepartedSignup.newDeparted.dob"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input required="" type="date" class="form-control" placeholder="Date of Death" onfocus="(this.type='date')" ng-model="DepartedSignup.newDeparted.dod"/>
            <!--<input type="date" placeholder="Last Name" ng-model="DepartedSignup.newDeparted.dod">-->
          </label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <button ng-click="DepartedSignup.submitDepartedForm()" class="button blue ">
             Confirm
          </button>
        </div>
      </div>
  </ion-content>
</ion-view>