.departed-signup-view h3 {
  margin-top: 20%;
  text-align: center;
}

.departed-signup-view .item-i.to input {
  padding-right: 0px;
}

.departed-signup-view .date {
  padding: 0px 0px 5px 0px !important;
  width: 100px !important;
}

.departed-signup-view .input-label {
  padding: 7px 10px 0px 0px !important;
}

.departed-signup-view .to {
  padding-top: 15px !important;
}