.departed-signup-view {
  
  h3 {
    margin-top: 20%;
    text-align: center;
  }

  .item-i.to input {
    padding-right: 0px;
  }

  .image-container {
    background-color: rgba(140, 140, 140, 0.1);

    * {
      padding: 0 0;
    }

    .img-full-width {

      img {
        width: 100%;
      }

      .ion-camera {
        font-size: 5em !important;
      }
    }
  }

  .small-container {
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10vh;
  }

  .input-label {
    font-size: 12px;  
  }

  .signup-form {
    * {
      text-align: center !important;
    }
    .login-form {
      .row {
        .col {
           span {
                color: grey;
            }
        }
      }
    }
  }
}